{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h2 style="text-align:center;">login</h2>
    <div class="container" style="width:30%">
        <form method="post" class="jumbotorn" style="width:40%" >
            {% csrf_token %}
            <label for="uname">Enter Name</label>
            <input type="text" name="uname" id="uname" class="form-control" >
            <br>
             <label for="pwd"> Enter password</label>
             <input type="password" name="pwd" id="pwd" class="form-control">
             <br>
             {% for msg in messages %}
                <p style="color:red;">{{msg}}</p>
             {% endfor %}
             <br>
             <input type="submit" value="login" class="btn btn-success">

        </form>
    </div>
{% endblock %}